/* p {
  font-size: small;
} */

.button {
  border-radius: 25px;
  margin-left: -12px;
  margin-bottom: 20px;
}

.checkoutBtn {
  border-radius: 25px;
  padding: 0.5rem 2rem;
  margin-bottom: 20px;
  width: 100%;
  min-height: 3.5rem;
  background-color: #0058a3;
  font-size: 1.2rem;
  font-weight: 700;
}

.productUnderLine {
  border-top: 2px solid black;
  margin-top: 2rem;
  padding-top: 2rem;
}
.productUnderLine div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.productUnderLineSpan {
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 700;
}
.productUnderLineSpan2 {
  font-size: 1.75rem;
  line-height: 1.625;
  font-weight: 700;
}

.productUnderLineP {
  margin: 0.75rem 0;
  font-size: 0.75rem;
  line-height: 1.5;
}
.checkoutP {
  margin: 0 0 1rem;
  font-size: 0.875rem;
  display: flex;
  flex-direction: row;
  font-weight: 700;
  padding: 0.25rem;
}
.orderProductsDiv {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.orderProductsDivSpan {
  font-size: 0.875rem;
  line-height: 1.571;
}

.orderProductsDivSpanJd {
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 400;
  position: relative;
}
