.container {
  width: 100%;
  position: relative;
  height: 200;
  padding: 50px 0 10px 0;
}

.row {
  padding-left: 20px;
  margin-top: 10px;
}
.row a {
  color: black;
  text-decoration: none;
}
.span {
  font-weight: 600;
}

.row li {
  list-style: none;
  text-indent: -30px;
  color: rgb(94, 94, 94);
  cursor: pointer;
}

.row li:hover {
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 1px #9e9d9d;
}

.row p {
  cursor: pointer;
}

.row p:hover {
  color: rgb(108, 108, 108);
}